<!--
  ~ This file is part of INU Cafeteria.
  ~
  ~ Copyright (C) 2020 INU Global App Center <potados99@gmail.com>
  ~
  ~ INU Cafeteria is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ INU Cafeteria is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inu.cafeteria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:name=".common.ThisApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Activity -->
        <activity
            android:name=".feature.splash.SplashActivity"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".feature.reorder.CafeteriaReorderActivity"
            android:label="@string/title_reorder" />

        <activity
            android:name=".feature.login.LoginActivity"
            android:label="@string/title_login" />

    </application>

</manifest>
